<mat-card>
  <mat-card-header>
    <mat-card-title class="mat-card-title">Lançamentos</mat-card-title>
    <button mat-mini-fab color="primary" (click)="openAdicionaLancamento()">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let lancamento of lancamentos; last as last">
        <div mat-line>
            <span class="flag" [style.color]="lancamento.tipoLancamento === receita ? '#56CAA4' : '#FF7E7C'">
             <i class="material-icons">fiber_manual_record</i>
            </span>
            <span class="descricao">
              {{lancamento.descricao}}
            </span>
            <span class="categoria">
               <span class="flag" [style.color]="lancamento.categoria.cor ? lancamento.categoria.cor : 'black'">
                <i class="material-icons">label</i>
              </span>
              {{lancamento.categoria.titulo}}
            </span>
            <span class="valor" [style.color]="lancamento.tipoLancamento === receita ? '#56CAA4': ''">
              {{lancamento.valor | currency:'R$':'symbol':'2.2-2':'pt'}}
            </span>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

