<mat-card>
  <mat-card-header>
    <mat-card-title class="mat-card-title">Lançamentos</mat-card-title>
    <button mat-mini-fab color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <!--<mat-form-field style="align-items: right">-->
      <!--&lt;!&ndash;<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por" style="width: 100%; ">&ndash;&gt;-->
    <!--</mat-form-field>-->



    <mat-list>
      <mat-list-item *ngFor="let lancamento of lancamentos; last as last">
        <!--<div class="data">-->
        <!--{{item.data }}-->
        <!--</div>-->
        <div mat-line>
          <!--<div class="ii">-->
            <span class="flag" [style.color]="lancamento.TipoLancamento === receita ? '#56CAA4' : '#FF7E7C'">
             <i class="material-icons">fiber_manual_record</i>
            </span>
            <span class="descricao">
              {{lancamento.Descricao}}
            </span>
            <span class="categoria">
               <span class="flag" [style.color]="lancamento.Categoria.Cor ? lancamento.Categoria.Cor : 'black'">
                <i class="material-icons">label</i>
              </span>
              {{lancamento.Categoria.Titulo}}
            </span>
            <span class="valor" [style.color]="lancamento.TipoLancamento === receita ? '#56CAA4': ''">
              {{lancamento.Valor | currency:'R$':'symbol':'2.2-2':'pt'}}
            </span>
          <!--</div>-->
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>


    <!--<mat-table #table [dataSource]="dataSource">-->

    <!--&lt;!&ndash; Position Column &ndash;&gt;-->
    <!--&lt;!&ndash;<ng-container matColumnDef="tipo" style="display: none">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-header-cell *matHeaderCellDef> No.</mat-header-cell>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-cell *matCellDef="let element"> {{element.tipoLancamento}}</mat-cell>&ndash;&gt;-->
    <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

    <!--&lt;!&ndash; Descrição Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="descricao">-->
    <!--<mat-header-cell *matHeaderCellDef> Descrição</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element">-->
    <!--<span class="flag" [style.color]="element.tipoLancamento === receita ? '#56CAA4' : '#FF7E7C'">-->
    <!--<i class="material-icons">fiber_manual_record</i>-->
    <!--</span>-->
    <!--{{element.descricao}}-->
    <!--</mat-cell>-->
    <!--</ng-container>-->


    <!--&lt;!&ndash; Categoria Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="categoria">-->
    <!--<mat-header-cell *matHeaderCellDef> Categoria</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element">-->
    <!--<span class="flag" [style.color]="element.categoria.cor ? element.categoria.cor : 'black'">-->
    <!--<i class="material-icons">label</i>-->
    <!--</span>-->
    <!--{{ element.categoria?.titulo || element.categoria}}-->
    <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Descrição Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="data">-->
    <!--<mat-header-cell *matHeaderCellDef> Data</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element"> {{element.data | date: 'shortDate': '' : 'pt'}}</mat-cell>-->
    <!--</ng-container>-->


    <!--&lt;!&ndash; Valor Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="valor">-->
    <!--<mat-header-cell *matHeaderCellDef> Valor</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element" [style.color]="element.tipoLancamento === receita ? '#56CAA4': ''">-->
    <!--{{element.valor | currency:'R$':'symbol':'2.2-2':'pt'}}-->
    <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
    <!--</mat-table>button-->

    <!--<button mat-fab color="primary" (click)="openDialog()">-->
    <!--<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>-->
    <!--</button>-->
  </mat-card-content>
</mat-card>

<app-adiciona-lancamento></app-adiciona-lancamento>
