<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por" style="width: 100%">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef> Descrição</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.descricao}}</mat-cell>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoria</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.categoria?.titulo || element.categoria}}</mat-cell>
    </ng-container>

    <!-- Descrição Column -->
    <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef> Data</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data | date}}</mat-cell>
    </ng-container>


    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef> Valor</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.valor | currency}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button mat-fab color="primary" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a heart icon">Add</mat-icon>
  </button>
</div>
