<mat-card class="ui-g-12 ui-g-offset-0 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-3">
  <form (ngSubmit)="onSumit()" #pessoaForm="ngForm">
    <mat-card-header>
      <mat-card-title>Cadastre-se e use grátis</mat-card-title>
      <mat-card-subtitle>Sem contratos, sem compromisso.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="input-row">
        <label for="email">Seu email</label>
        <div class="group-field">
          <input id="email" [(ngModel)]="pessoa.email" type="email" name="email" title="Email" required>
        </div>
      </div>

      <div class="input-row">
        <div class="ui-g-12 ui-md-6 first">
          <label for="senha">Senha</label>
          <div class="group-fild">
            <input id="senha" type="password" [(ngModel)]="pessoa.senha" name="Senha" title="Senha"
                   [minlength]="6" [maxlength]="30" required>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 last">
          <label for="repita-senha">Repetir senha</label>
          <div class="group-fild">
            <input id="repita-senha" type="password" [(ngModel)]="repitaSenha" name="RepitaSenha" title="Repita senha"
                   [minlength]="6" [maxlength]="30" required>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="submit">
        Começar a usar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
