<mat-card>
  <!-- <form action=""> -->
  <mat-card-header>
    <mat-card-title class="text-header">Nova Categoria</mat-card-title>


  </mat-card-header>

  <mat-card-content>

    <div class="input-row">
      <label for="nome">Nome</label>
      <div class="group-field">
        <input id="nome" [(ngModel)]="categoria.titulo" name="Nome" title="Nome" type="text" maxlength="50" required>
        <span class="help-text">
          Ex: vestuario, viagens
        </span>
      </div>
    </div>

    <div class="input-row">
      <label for="cor">Cor</label>
      <div class="group-field">
        <input id="cor" [(ngModel)]="categoria.cor" type="color" placeholder="Cor" name="Cor" title="cor">
        <span class="help-text">Para identificar essa categoria nos relatórios.</span>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="onSaveClick()" color="primary">
      Salvar
    </button>
  </mat-card-actions>
</mat-card>
