<mat-card>
  <form (ngSubmit)="onSubmit()" #categoriaForm="ngForm">
    <mat-card-header>
      <mat-card-title class="text-header">Nova Categoria</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="input-row">
        <label for="nome">Nome</label>
        <div class="group-field">
          <input id="nome" [(ngModel)]="categoria.Titulo" name="Nome" title="Nome" type="text" maxlength="50" required>
          <span class="help-text">
          Ex: vestuario, viagens
        </span>
        </div>
      </div>

      <div class="input-row">
        <label for="cor">Cor</label>
        <div class="group-field">
          <p-colorPicker id="cor" [(ngModel)]="categoria.Cor" type="color" name="Cor" styleClass="color-picker"
                         title="cor"></p-colorPicker>
          <span class="help-text">Para identificar essa categoria nos relatórios.</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!categoriaForm.form.valid">
        Salvar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
