<mat-toolbar class="example-header" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-label="Example icon-button with a heart icon">Menu</mat-icon>
    </button>

    Orçamento

    <span class="example-spacer"></span>
    <span>
      <mat-icon class="example-icon">Settings</mat-icon>
      <span>
        <img class="profile" src="assets/img/photo.jpg" alt="Profile">
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<menu-usuario [isOpen]="false"
              style="position: absolute; z-index: 3; right: -10px; top: 60px; left: initial"></menu-usuario>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav" [fixedInViewport]="options.value.fixed"
               [fixedTopGap]="options.value.top"
               [fixedBottomGap]="options.value.bottom">
    <mat-list role="list">
      <a mat-list-item routerLink="/">Lançamentos</a>
      <a mat-list-item routerLink="categoria">Categoria</a>
      <mat-list-item role="listitem">Menu</mat-list-item>
      <mat-list-item role="listitem">Menu</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">Footer</mat-toolbar>
