<mat-card>
  <form (ngSubmit)="onSubmit()" #lancamentoForm="ngForm">
    <mat-card-header>
      <mat-card-title>Novo lançamento</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="input-row">
        <label for="descricao">Descrição</label>
        <div class="group-fild">
          <input id="descricao" type="text" [(ngModel)]="lancamento.descricao" name="Descrição" title="Descrição"
                 maxlength="100" pInputText required>
        </div>
      </div>

      <div class="input-row">
        <div class="ui-g-6 first">
          <label for="valor">Valor</label>
          <div class="group-fild">
            <input id="valor" type="text" [autofocus]="false" [(ngModel)]="lancamento.valor"
                    name="Valor" title="Valor" appMoneyMask
                   required>
          </div>
        </div>
        <div class="ui-g-6 last">
          <label for="data-lancamento">Data</label>
          <div class="group-fild">
            <p-calendar id="data-lancamento" [(ngModel)]="lancamento.dataLancamento" showButtonBar="true"
                        name="DataLancamento" dateFormat="dd/mm/yy"
                        [locale]="pt"></p-calendar>
          </div>
        </div>
      </div>

      <div class="input-row">
        <label for="categoria">Categoria</label>
        <div class="group-fild">
          <p-dropdown id="categoria" [options]="categorias" [(ngModel)]="lancamento.categoria" optionLabel="titulo"
                      name="categoria"></p-dropdown>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!lancamentoForm.form.valid">
        Salvar
      </button>
    </mat-card-actions>
  </form>
</mat-card>
