<mat-card>
  <mat-card-title>Termos de Uso</mat-card-title>
  <mat-card-subtitle>Sem contrato/Sem compromisso</mat-card-subtitle>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Termos e condições de uso</h2>
        <p>Este T&C se aplica a todos os serviços descritos no site www.meu-orcamento.com.br (“Site”). Ao efetuar seu
          cadastro para utilização dos serviços, ou aceitar estes termos, você concorda com os termos desse T&C, sem
          modificações. Se não concordar, você não poderá usar os serviços.

          Poderão ser feitas alterações e correções neste T&C, para isso, você será notificado por uma mensagem de
          e-mail ou por outros meios razoáveis. Sempre mostramos a data da última versão deste T&C. Ao continuar usando
          os serviços após o início das alterações, você estará concordando com o T&C. Se não concordar com as
          alterações, você deverá interromper o uso dos serviços e cancelar os serviços, seguindo as instruções do item
          “Aquisição e Forma de Cancelamento”.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Conta no Meu Orçamento</h2>
        <p>Para acessar os serviços, você deverá criar uma conta no Site, fornecendo um endereço de e-mail válido e de
          sua propriedade para validação do cadastro.

          Você poderá cancelar os serviços a qualquer momento,
          <!--entrando em contato com nosso Canal de Comunicação-->
          <!--disponível no Site, no link ‘Fale conosco’.-->

          <!--Oferecemos suporte técnico para os serviços, através do nosso Canal de Comunicação.-->

          <!--Enviaremos a você, e-mails que tenham relação com os serviços. Caso você não queira recebe-los, poderá-->
          <!--cancelar o envio deles clicando na opção ‘cancelar assinatura’, dentro do e-mail enviado. Você apenas-->
          <!--conseguirá utilizar os serviços de forma adequada, se estiver usando:-->

          (i) PC Windows ou Mac;
          (ii) acesso a Internet com velocidade maior que 1MB/s e;
          (iii) navegadores web: a) Internet Explorer versão 9 ou superior; b) Mozilla Firefox versão 13 ou superior; c)
          Google Chrome versão 20 ou superior e; d) Safari versão 6 ou superior.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Aquisição e forma de cancelamento</h2>
        <p>Nossos serviços possuem versões diferenciadas, para cada tipo de necessidade. Você encontrará maiores
          detalhes sobre as versões disponíveis no nosso Site.

          Alguns de nossos serviços são pagos, para aquisição deles, detalhamos no Site qual o diferencial, os
          benefícios e também seu valor e forma de pagamento.

          Caso você queira cancelar algum de nossos serviços, entre em contato com nosso Canal de Comunicação. Nós te
          reembolsaremos integralmente o valor pago, caso você tenha solicitado o cancelamento em até 30 (trinta) dias,
          a contar da data do pagamento. Caso você tenha solicitado o cancelamento após os 30 (trinta) dias, te
          reembolsaremos o valor proporcional, referente ao seu tempo de uso.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Nossa responsabilidade</h2>
        <p>Somos responsáveis por manter os serviços no ar, pelo maior período possível, mas poderão ocorrer casos fora
          de nosso controle que poderão ocasionar uma indisponibilidade temporária do Site (“Casos Fortuitos ou Força
          Maior”).

          Faremos nosso melhor para manter a segurança do Site e de seus dados utilizando as práticas de backup e
          políticas de seguranças adequadas e as melhores possíveis.

          Não podemos nos responsabilizar por danos causados a você pela utilização de nossos serviços, uma vez que
          apenas disponibilizamos uma ferramenta, e que o conteúdo por ela gerado é inserido por você.

          Nossos serviços não garantem resultados específicos, garantias de desempenho ou outra expectativa.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Sua responsabilidade</h2>
        <p>Você será responsável por manter sua senha segura.

          O Conteúdo por você postado é de sua responsabilidade, assim como todos os atos por você praticados.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 left">
        <h2>Política de privacidade do Meu Orçamento</h2>
        <p>Proporcionamos a você um dos meios mais seguros de navegação da Internet, com todo o trafego de dados
          criptografado, via https.

          Não divulgamos seus dados pessoais ou financeiros para fins comerciais.

          Apenas teremos acesso aos seus dados, caso você entre em contato conosco para suporte técnico.

          Algumas informações são coletadas pelos nossos servidores, como seu endereço de IP (Internet Protocol),
          informações de data e local de acesso, entre outros. Esses dados não são usados por nós para nenhuma afim, a
          não ser o de controle de fluxo de tráfego.

          Apenas em caso de requisição judicial ou de autoridade competente, iremos fornecer seus dados.</p>
      </div>
    </div>
    <!--div.row>div.col-md-6.col-sm-6.left>h2+p-->
  </mat-card-content>
</mat-card>

