/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-dialog-container.mat-dialog-container{
    padding: 0 !important;
}

button.mat-fab {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
