/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

mat-dialog-container.mat-dialog-container {
  padding: 0 !important;
}

button.mat-fab {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.ui-colorpicker-preview,
.color-picker {
  height: 40px;
  width: 100% !important;
}

.ui-colorpicker-panel {
  margin-top: -40px !important;
}

form .input-row .group-field, form .row .group-field {
  position: relative;
  clear: both;
  display: block;
}

/*form .input-row .first {*/
/*padding-left: 0;*/
/*}*/

/*form .input-row .last {*/
/*padding-right: 0;*/
/*}*/

input[type="email"], input[type="text"], input[type="password"],
select, textarea {
  border: 2px solid #E8EAEB;
  background: #FFFFFF;
  line-height: 18px;
  padding: 10px;
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  color: #555555;
  font-size: 14px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

textarea:focus, input[type=password]:focus, input[type=email]:focus, input[type=text]:focus {
  border-color: #d5d5d5 !important;
  outline: 0;
}

.ui-calendar {
  width: 100%;
}

mat-card-actions {
  padding-left: 62px;
  padding-right: 62px;
  padding-bottom: 30px !important;
}

form .input-row-erro .error-message {
  color: #FF9794;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  text-align: center;
  white-space: nowrap;
}

.ng-invalid.ng-touched:not(form) {
  color: #FF9794;
  border: 1px solid #FF9794 !important;
}

button{
  outline: 0;
}
